@import '@/styles/media.scss';

.collpase-wrapper {
  position: relative;
  height: 100%;
  overflow: hidden;
  display: inline-block;

  // @include responsive(sm) {
  //   &:focus .collpase-menu,
  //   &:active .collpase-menu {
  //     overflow: visible;
  //   }
  //   &:focus .collpase-menu,
  //   &:active .collpase-menu {
  //     z-index: 9999;
  //     opacity: 1;
  //     transform: translateY(0);
  //     pointer-events: auto;
  //     visibility: visible;
  //   }
  // }

  // @include responsive(bg) {
  &:hover {
    overflow: visible;
  }
  &:hover .collpase-menu {
    z-index: 9999;
    opacity: 1;
    transform: translateY(0);
    // -webkit-transform: translateY(0);
    pointer-events: auto;
    visibility: visible;
  }
  // }

  .collpase-menu {
    position: absolute;
    // top: 48px;
    pointer-events: none;
    // min-width: 245px;
    min-width: auto;
    padding: 10px;
    border-radius: 6px;
    overflow: hidden;
    background-color: #fff;
    box-shadow: 0 12px 60px rgb(14 32 66 / 15%), 0 1px 2px rgb(14 32 66 / 5%);
    visibility: hidden;
    opacity: 0;
    transform: translateY(50px);
    // -webkit-transform: translateY(50px);
    transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
    // -webkit-transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
    &.show-in-column {
      display: flex;
      width: 400px;
      flex-wrap: wrap;
      .menu-item {
        width: 50%;
      }
    }
  }
  .collpase-center {
    left: -50%;
  }
  .collpase-left {
    left: 0;
  }
  .collpase-right {
    right: 0;
  }

  .menu-item {
    display: flex;
    align-items: center;
    padding: 10px;
    height: 60px;
    background-color: #fff;
    cursor: pointer;
    font-size: 24px;
    color: #000;
    &:hover {
      background: #f9f9f9;
      border-radius: 4px;
      color: #000;
    }
  }

  .menu-item__icon {
    width: 40px;
  }

  .menu-item__text {
    flex: 1;
    .title {
      color: #000;
      display: flex;
      font-size: 14px;
      font-weight: 500;
      line-height: 20px;
      margin-bottom: 2px;
      white-space: nowrap;
    }
    .sub-title {
      color: #929292;
      font-size: 12px;
      font-weight: 400;
      line-height: 18px;
      position: relative;
      visibility: visible;
      white-space: nowrap;
    }
  }
}
