html,
body {
  padding: 0;
  margin: 0;
  font-family: HarmonyOS Sans,PingFang SC,Microsoft Yahei,Heiti SC,WenQuanYi Micro Hei,Helvetica Neue,Helvetica,Arial,sans-serif !important;
  /* font-family: SF Pro Text,SF Pro Icons,Helvetica Neue,Helvetica,Arial,sans-serif; */
  font-size: 14px;
  color: #fff;
  background-color: #000;
  font-weight: 300;
}

* {
  box-sizing: border-box;
}

