html,
body {
  font-family: HarmonyOS Sans, PingFang SC, Microsoft Yahei, Heiti SC,
    WenQuanYi Micro Hei, Helvetica Neue, Helvetica, Arial, sans-serif !important;
  font-size: 14px;
  // background-color: #000;
}

b,
em,
i,
strong {
  font-style: normal;
  font-weight: 400;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
input {
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
}

.g-buy {
  color: #2ead65;
}
.g-sell {
  color: #e35e5e;
}

li {
  list-style: none;
}

@import 'constant.scss';

// 小屏样式
@media (max-width: $width-min) {
  #body {
    .okx-app {
      .pc-text {
        display: none;
      }
      .mobile-text {
        display: block;
      }
    }
  }
}

// 中屏样式
@media (min-width: $width-mid) {
  #body {
    .okx-app {
      .pc-text {
        display: block;
      }
      .mobile-text {
        display: none;
      }
    }
  }
}

// 大屏样式
@media (min-width: $width-min) {
  #body {
    .okx-app {
      .pc-text {
        display: block;
      }
      .mobile-text {
        display: none;
      }
    }
  }
}
