$width-ipad: 768px;
$width-ipad-pro: 1024px;
$width-pc:  1270px;

// 小屏样式
@media (max-width: $width-ipad-pro) {
  #body{
    .okx-app {
      .sm-screen-hidden {
        display: none;
      }
      .sm-screen-show {
        display: inline-block;
      }
    }
  }
}

// 大屏样式
@media (min-width: $width-ipad-pro) {
  #body{
    .okx-app {
      .bg-screen-hidden {
        display: none;
      }
      .bg-screen-show {
        display: inline-block;
      }
    }
  }
}


