@import 'constant.scss';

@mixin responsive($width) {
  @if $width == sm {
    @media only screen and (max-width: $width-min) {
      @content;
    }
  } @else if $width == mid {
    @media only screen and (min-width: $width-mid) {
      @content;
    }
  } @else if $width == bg {
    @media only screen and (min-width: $width-bg) {
      @content;
    }
  }
}

@mixin responsive-padding() {
  @include responsive(sm) {
    padding-left: 12px;
    padding-right: 12px;
  }

  @include responsive(mid) {
    padding-left: calc(50% - 480px);
    padding-right: calc(50% - 480px);
  }

  @include responsive(bg) {
    padding-left: calc(50% - 624px);
    padding-right: calc(50% - 624px);
  }
}
